@tailwind base;
@tailwind components;
@tailwind utilities;


.active {
    color: #D72050;
    border: 2px solid #D72050;
    padding: 8px;
    border-radius: 8px;
    font-weight: 700;
}


.font-poppins {
    font-family: "Poppins", sans-serif;
}

.font-roboto {
    font-family: "Roboto", sans-serif;
}


.animate1{
    animation: fadeInLeft;
    animation-duration: 2s;
}
/* 
.animate2{
    animation: backOutDown;
    animation-duration:;
} */