@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    color: rgb(8, 226, 8);
    border: 2px solid rgb(7, 196, 7);
    padding: 8px ;
    border-radius: 8px;
    font-weight: 700;
}